body, html, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.date-input, .type-select {
    padding: 10px;
    margin: 5px;
}

.messages-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.message-type-section {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-section {
    margin-bottom: 15px;
}
